<h2>Your Cart</h2>


<%= render @cart %>

<%= link_to "continue shopping", shop_path, class: "btn btn-success" %>
<%= link_to "empty cart", @cart, method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger" %>
